main {
    height: 250px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1.25em 0;
}

.cd-container {
    background-color: #a29898;
    border-radius: 10px;
}